# Security and Secrets
.env
.env.test
.env.production
.DS_Store

# Terraform
.terraform/
*.tfstate
*.tfstate.backup

# Node
node_modules/
dist/
coverage/

# Logs
logs
*.log
npm-debug.log*

# IDEs
.vscode/
.idea/
*.swp
*.swo
gitlab-ci-snippet.yml