name: Super-Linter

on:
  push:
    branches: [ "main", "master" ]
  pull_request:
    branches: [ "main", "master" ]

jobs:
  build:
    name: Lint Code Base
    runs-on: ubuntu-latest

    permissions:
      contents: read
      packages: read
      statuses: write

    steps:
      - name: Checkout Code
        uses: actions/checkout@v4
        with:
          # Full git history is needed to get a proper list of changed files within `super-linter`
          fetch-depth: 0

      - name: Lint Code Base
        uses: github/super-linter@v7
        env:
          DEFAULT_BRANCH: main
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          VALIDATE_ALL_CODEBASE: false # Only lint changed files to save time
          VALIDATE_TERRAFORM: true
          VALIDATE_TYPESCRIPT_STANDARD: true
          VALIDATE_CSS: true
          VALIDATE_HTML: true
          VALIDATE_DOCKERFILE: true
          VALIDATE_YAML: true
